
body {
    background: #367856;
    font-family: Arial;
}
h1 {
    color: red;
}
/* sBOiZtxrEDSBKv2F0QdAK2XXXHbSwgK6Ld7YWgRezpGTjbJhVmrfRGI97A5AmIxUEMuHvtRRpYVHM8B49FGQF4nHz1rKsFoDDRLaBKFDGds7mHtAQStT6OqO63VGWj2FLIVeC7s9ry4IG9kcrTfvr0qnjhzAWldOWC4sbAmxUd8eZF3ewOnR813qRbKEmVzSqbfFVyYI */
